<H6>MIS CUENTAS</H6>

<div class="cuentas">
    <div class="cuenta">
        <a href="#" ></a>
        <span class="estadoCuenta">Activa</span>
        <span class="cantidadCuenta">$1,500.00</span>
        <p class="numCuenta">555-555-555-555</p>
        <p class="nomCuenta">Nombre Apellido</p>
        <p class="tipoCuenta">Titular</p>
        <img src="\assets\img\cuentas-mc.png" alt="logiitoCuenta" srcset="">
    </div>
    <div class="cuenta cuentaActiva">
        <a href="#" ></a>
        <span class="estadoCuenta">Activa</span>
        <span class="cantidadCuenta">$1,500.00</span>
        <p class="numCuenta">555-555-555-555</p>
        <p class="nomCuenta">Nombre Apellido</p>
        <p class="tipoCuenta">Titular</p>
        <img src="\assets\img\cuentas-mc.png" alt="logiitoCuenta" srcset="">
    </div>
    <div class="agregarCuenta">
        <button> 
            <div class="d-flex bd-highlight mb-3">
                <div class="me-auto p-2">Agregar Tarjeta</div>
                <div class="p-2"><svg style="color: #07be90;" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M11.5 0c6.347 0 11.5 5.153 11.5 11.5s-5.153 11.5-11.5 11.5-11.5-5.153-11.5-11.5 5.153-11.5 11.5-11.5zm0 1c5.795 0 10.5 4.705 10.5 10.5s-4.705 10.5-10.5 10.5-10.5-4.705-10.5-10.5 4.705-10.5 10.5-10.5zm.5 10h6v1h-6v6h-1v-6h-6v-1h6v-6h1v6z" fill="#07be90"/></svg></div> 
              </div> 
        </button>
    </div>
</div>

