<H6>MIS CUENTAS</H6>

<!-- <div class="cuentas">
    <div class="cuenta">
        <a href="#" ></a>
        <span class="estadoCuenta">Activa</span>
        <span class="cantidadCuenta">$1,500.00</span>
        <p class="numCuenta">555-555-555-555</p>
        <p class="nomCuenta">Nombre Apellido</p>
        <p class="tipoCuenta">Titular</p>
        <img src="\assets\img\cuentas-mc.png" alt="logiitoCuenta" srcset="">
    </div>
    <div class="cuenta cuentaActiva">
        <a href="#" ></a>
        <span class="estadoCuenta">Activa</span>
        <span class="cantidadCuenta">$1,500.00</span>
        <p class="numCuenta">555-555-555-555</p>
        <p class="nomCuenta">Nombre Apellido</p>
        <p class="tipoCuenta">Titular</p>
        <img src="\assets\img\cuentas-mc.png" alt="logiitoCuenta" srcset="">
    </div>
    <div class="agregarCuenta">
        <button  data-bs-toggle="modal" data-bs-target="#agregarTarjetaModal"> 
            <div class="d-flex bd-highlight mb-3">
                <div class="me-auto p-2">Agregar Tarjeta</div>
                <div class="p-2"><svg style="color: #07be90;" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M11.5 0c6.347 0 11.5 5.153 11.5 11.5s-5.153 11.5-11.5 11.5-11.5-5.153-11.5-11.5 5.153-11.5 11.5-11.5zm0 1c5.795 0 10.5 4.705 10.5 10.5s-4.705 10.5-10.5 10.5-10.5-4.705-10.5-10.5 4.705-10.5 10.5-10.5zm.5 10h6v1h-6v6h-1v-6h-6v-1h6v-6h1v6z" fill="#07be90"/></svg></div> 
              </div> 
        </button>
    </div>
</div> -->

<div class="cuentas">
    <div  *ngFor="let tarjeta of Tarjetas.tarjetas">
        <div class="cuenta {{ tarjeta.estado }}">
            <a href="#" ></a>
            <span class="estadoCuenta">{{ tarjeta.estado }}</span>
            <span class="cantidadCuenta">$ {{ tarjeta.saldo }}</span>
            <p class="numCuenta">{{ tarjeta.tarjeta }}</p>
            <p class="nomCuenta">{{ tarjeta.nombre }}</p>
            <p class="tipoCuenta">{{ tarjeta.tipo }}</p>
            <img src="\assets\img\cuentas-mc.png" alt="logiitoCuenta" srcset="">
        </div>
    </div>
    <div class="agregarCuenta">
        <button  data-bs-toggle="modal" data-bs-target="#agregarTarjetaModal"> 
            <div class="d-flex bd-highlight mb-3">
                <div class="me-auto p-2">Agregar Tarjeta</div>
                <div class="p-2"><svg style="color: #07be90;" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M11.5 0c6.347 0 11.5 5.153 11.5 11.5s-5.153 11.5-11.5 11.5-11.5-5.153-11.5-11.5 5.153-11.5 11.5-11.5zm0 1c5.795 0 10.5 4.705 10.5 10.5s-4.705 10.5-10.5 10.5-10.5-4.705-10.5-10.5 4.705-10.5 10.5-10.5zm.5 10h6v1h-6v6h-1v-6h-6v-1h6v-6h1v6z" fill="#07be90"/></svg></div> 
              </div> 
        </button>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="agregarTarjetaModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <img src="\assets\img\logo.png" alt="logo" width="200">
            <h5 class="modal-title" id="agregarTarjetaModalLabel">Agregar Tarjeta</h5>
          <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
        </div>
        <div class="modal-body">
            <form class="row g-3">
                <div class="col-12">
                    <input type="text" class="form-control"   placeholder="Número tarjeta"> 
                </div>
                <div class="col-md-6">
                    <input type="email" class="form-control"   placeholder="Cuenta"> 
                </div>
                <div class="col-md-6">
                    <input type="password" class="form-control"   placeholder="Issuer"> 
                </div>

                <div class="col-12">
                    <input type="text" class="form-control"   placeholder="Nombre Tarjeta"> 
                </div>  
                <div class="col-12">
                    <input type="text" class="form-control"   placeholder="Marca"> 
                </div>  
                <div class="col-12">
                    <input type="text" class="form-control"  placeholder="Estatus"> 
                </div>  
                <div class="col-12">
                    <input type="text" class="form-control"   placeholder="Saldo"> 
                </div>  
                <div class="col-12">
                    <input type="text" class="form-control"   placeholder="Tipo de cuenta"> 
                </div>  
            </form>
        </div>
        <div class="modal-footer d-flex justify-content-around">
          <button type="button" class="btn btn-secondary btnTarjetaCancel" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success btnTarjetaAdd">Agregar Tarjeta</button>
        </div>
      </div>
    </div>
  </div>