<H6>MOVIMIENTOS</H6>

<table class="table">
    <thead>
      <tr> 
        <th scope="col">Fecha</th>
        <th scope="col">Description</th>
        <th scope="col">Monto</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movimiento of Movimientos.movimientos"> 
        <td>{{movimiento.fecha}}</td> 
        <td>{{movimiento.descripcion}}</td> 
        <td *ngIf="movimiento.tipo == 'abono'">
            <div style="color:green;">${{movimiento.monto}}</div>
        </td> 
        <td *ngIf="movimiento.tipo == 'cargo'">
            <div style="color:red;">${{movimiento.monto}}</div>
        </td> 
      </tr>
    </tbody>
  </table>